<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <h:outputStylesheet library="css" name="styles.css" />
        <title>#{msgs.windowTitle}</title>
    </h:head>
    <h:body>
        <h:form>
            <h:dataTable value="#{tableData.names}" var="name" styleClass="names"
                         headerClass="namesHeader" columnClasses="last,first">
                <h:column>
                    <f:facet name="header">#{msgs.lastColumnHeader}</f:facet>
                    #{name.last},
                </h:column>
                <h:column>
                    <f:facet name="header">#{msgs.firstColumnHeader}</f:facet>
                        #{name.first}
                </h:column>
                <h:column>
                    <h:commandLink value="Delete" action="#{tableData.deleteRow(name)}" />
                </h:column>
            </h:dataTable>
        </h:form>
    </h:body>
</html>
